<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sinia.com.smartmart">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="sinia.com.smartmart.utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginRegisterActivity"
            android:theme="@style/activityTheme" />
        <activity
            android:name=".activity.FindPasswordActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.PerfectInfoActivity" />
        <activity
            android:name=".activity.SearchActivity"
            android:theme="@style/SwipeBack.Transparent.Theme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.WaterAccountListActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.AddWaterAccountActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.PayFeeActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.PayActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.PayResultActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.PayPropertyFeeActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.PropertyFeeActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.MaintainListActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.GeneralSettingsActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.ReportBackActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.ContactUsActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.AddMaintainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.MaintainDetailActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.FeedBackActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.SettingsActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.MessageNoticeActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.AddressManagerActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.AddAddressActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.MessageWarnActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.OrderMessageActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.FeeMessageActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.OverdueCouponsActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.MyCouponsActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.MyAccountActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.AccountDetailActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.PreViewImageActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.FoodStreetActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.FoodShopDetailActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.FoodAllCommentActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.FoodDetailActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.MyCollectActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.ConfirmOrderFoodActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".activity.BuildMaterialMarketActivity"
            android:theme="@style/SwipeBack.Transparent.Theme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.PersonalInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <!-- 腾讯bugly版本升级-->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:theme="@android:style/Theme.Translucent" />

    </application>

</manifest>